$primary: #2c3e50;
$secondary: #007bff8a;

.input-box-select {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
  }
  
.input-box-select select {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ced4da;
  color: #495057;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  outline: 0;
  padding: 3px 0;
  transition: border-color 0.2s;
  text-transform: capitalize;
  width: 100% !important;
    box-shadow: inherit !important;
  -webkit-box-shadow: inherit !important;

  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ label {
    top: 20px;
    cursor: text;
    font-size: 1rem;
    color: $primary;
  }
}

.input-box-select label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  opacity: 0.9;
  color: gray;
}
.input-box-select select:focus {
  ~ label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $secondary;
    font-weight: normal;
  }
  font-size: inherit;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;

  font-weight: lighter;
  border-width: 1px;
  border-image: linear-gradient(
    to right,
    rgba(0, 123, 255, 0.25),
    rgba(0, 174, 255, 0.514)
  );
  border-image-slice: 1;
  color: $primary;
}